*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --primary-font: Roboto, sans-serif;
  --primary-color: #434455;
  --logo-color: #4d5ae5;
  --accent-color: #2e2f42;
  --hover-color: #404bbf;
  --white-color: #ffffff;
  --footer-color: #f4f4fd;
  --icon-color: #8e8f99;
  --green-color: #31d0aa;
  --modal-color: #fcfcfc;
  --btn-color: #e7e9fc;
  --white: #ffffff;
}
.link {
  text-decoration: none;
}
.list {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-naw {
  display: flex;
  align-items: center;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-color);
  margin-right: 76px;
  padding: 24px 0;
}
.accent {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.header-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--accent-color);
}
.header-link.curent {
  color: var(--hover-color);
  position: relative;
}

.curent::after {
  position: absolute;

  content: "";
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;

  margin-top: 20px;
}
.header-link {
  text-decoration: none;
  color: var(--accent-color);
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: var(--primary-color);
}
.address-link {
  color: var(--primary-color);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--hover-color);
  cubic-bezier: (0.4, 0, 0.2, 1);
}

/* Main */
.page {
}
/* Section1 */
.section-one {
  background: var(--accent-color);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/main-pages/office.jpg);
  max-width: 1440px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--white-color);
  width: 496px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.button {
  font-family: Roboto, sans-serif;
  background: var(--logo-color);
  font-weight: 500;
  color: var(--white-color);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background: var(--hover-color);
  cubic-bezier: (0.4, 0, 0.2, 1);
}
/* Section2 */

.page-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.page-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.page-item-icon {
  margin-bottom: 8px;
}
.div-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-color);
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}
.page-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: var(--accent-color);
  margin-bottom: 8px;
  text-align: center;
}
.page-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: var(--primary-color);
}
/* Section3 */
.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--accent-color);
  margin-bottom: 72px;
}
.img-list {
  display: flex;
  gap: 24px;
}
.img-item {
  width: calc((100% - 48px) / 3);
}
.img {
}
/* Section4 */
.section-four {
  background-color: var(--footer-color);
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-img {
}
.section-four-item {
  width: 40px;
  height: 40px;
}
.team-list-icon {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-item-icon {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-item-icon:hover,
.team-item-icon:focus {
  background-color: var(--hover-color);
}
.section-four-div {
  padding: 32px 0;
}

.team-icon {
  fill: var(--footer-color);
  height: 24px;
  width: 24px;
}

.page-text-four {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: var(--primary-color);
  text-align: center;
}

/* Section5 */
.section-five {
  padding: 120px 0;
  background-color: var(--white-color);
}
.castomer-icon {
  fill: currentColor;
}

.customer-list {
  list-style: none;
  display: flex;
  gap: 24px;
}
.customer-item {
  color: var(--icon-color);
  transition-property: color;
  transition-duration: 250ms;
  height: 88px;
  width: calc((100% - 120px) / 6);
  width: 168px;
  height: 88px;
}

.icon-item {
  color: var(--icon-color);
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item:hover,
.icon-item:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
}
/* Footer */
.footer {
  background-color: var(--accent-color);
  padding: 100px 0;
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-color);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-studio {
  color: var(--footer-color);
}
.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 264px;
  margin-top: 17.5px;
}
.footer-text-social {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}
.footer-flex {
  display: flex;
  gap: 120px;
  align-items: baseline;
}
.gap {
  gap: 16px;
}
.footer-icon {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--green-color);
}
.footer-logo {
  margin-right: 120px;
}
.footer-div {
}
.link-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}
.icon-hover:hover,
.icon-hover:focus {
  background-color: var(--green-color);
}
/* Portfolio */
.button-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
  margin-top: 108px;
}
.button-item {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-item:hover,
.button-item:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  cubic-bezier: (0.4, 0, 0.2, 1);
}
.portfolio-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--footer-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  align-items: center;
  padding: 12px 24px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--hover-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  position: relative;
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cubic-bezier: (0.4, 0, 0.2, 1);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  transform: translateY(0%);
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);

  letter-spacing: 0.02em;
}
.section-two {
  padding: 120px 0;
}
.flex-section-two {
  display: flex;

  gap: 24px;
}
.section-three {
  padding-bottom: 120px;
}
.header-container {
  display: flex;
  align-items: center;
  padding: 24 0;
}

.subtitle-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.box {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}
.overlay-text {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color);

  top: 0;
  padding: 40px 32px;
  background-color: var(--logo-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

  background-color: var(--logo-color);
}

/* MODAL STYLES */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 408px;

  border-radius: 4px;
  background-color: var(--modal-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-color: var(--btn-color);
  border-radius: 50%;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hover-color);
  border: none;
  fill: #ffffff;
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-text {
  color: var(--accent-color);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 72px;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 16px;
}
.modal-form {
}
.modal-label {
  color: var(--icon-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input {
}
.modal-comment {
}
.modal-link {
  color: var(--logo-color);
}
.modal-checkbox {
}
.button-send {
  width: 169px;
  height: 56px;
  display: inline-block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  text-align: center;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
